.main-box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  background-color: rgb(36, 37, 56);
  width: 400px;
  height: 400px;
  border-radius: 20px;
  box-shadow: 0 0 15px rgb(80, 80, 109);
}

h1{
  color: aliceblue;
  margin-bottom: 10px;
}

input{
  font-size: 1.1rem;
  border: none;
  border-radius: 10px;
  margin-block-end: 15px;
  padding: 10px;
  background-color: rgb(15, 15, 15);
  color: aliceblue;
  caret-color: #ff6b6b;
}

input::placeholder{
  color: gray;
}

.calc-btn{
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 1.05em;
  font-weight: bold;
  color: rgb(36, 37, 56);
  background-color: rgb(59, 106, 122);
  color: aliceblue;
  margin-top: 10px;
}

.calc-btn:hover{
  transform: translateY(-2px);
  scale: 1.05;
  border: 2px solid aliceblue;
}

.calc-btn:active{
  transform: translateY(1px);
  scale: 0.9;
}

p{
  color: aliceblue;
  font-size: 1.1em;
  margin-bottom: 5px;
}

.result{
  margin-block: 15px;
}